{% extends "base_generic.html" %}

{% block title %}Procesadores{% endblock %}

{% block content %}
  <body style="background-color: #f8f8f8;">
     
        <section class="jumbotron text-center" >
            <style>
                section{
                    background-image: url("/static/fotos/bannerProductos.jpg");
                }
            </style>
            <div class="container-fluid">
                <h1 style="font-size: 6vw; color: white;">Procesadores</h1>                       
            </div>
        </section>

        <!--Seguimiento-->
        <div id="seguimiento" class="container" >
            <div class="col-md-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Procesadores</li>
                </ol>
            </div>
        </div>
        

        <!--productos-->
        <div class="album py-5">
            <div class="container" >
                <div class="row">
                                    
                    
                    <!--AMD-->
                    <div class=" col-md-4" >
                        <div class="card mb-4 shadow-sm"  >
                        {% load static %}<a href="404.html"><img class="producto" alt="AMD"  src="{% static 'fotos/piezas/procesadores/amd/AMDRyzen73700X(300x300).png' %}" ></a>
                        
                        <div class="card-body">
                            <p class="card-text">
                                <b>Marca:</b> AMD <br> 
                                <b>Modelo:</b> Ryzen 7 3700X <br>
                                <b>Frecuencia:</b> 3600 - 4400 MHz <br>
                                <b>Socket:</b> AM4

                            </p>
                            
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                            </div>
                            <small class="text-muted ml-2">stock:<b>{{ stock3700X }}</b></small>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-md-4" >
                        <div class="card mb-4 shadow-sm" >
                            {% load static %}<a href="404.html"><img class="producto" alt="AMD" src="{% static 'fotos/piezas/procesadores/amd/AMDRyzen73800XT(300x300).png' %}"></a>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Marca:</b> AMD <br>
                                    <b>Modelo:</b> Ryzen 7 3800XT <br>
                                    <b>Frecuencia:</b> 3900 - 4700 MHz <br>
                                    <b>Socket:</b> AM4
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                                    </div>
                                    <small class="text-muted ml-2">stock:<b>{{ stock3800XT }}</b></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4"  >
                        <div class="card mb-4 shadow-sm" >
                            {% load static %}<a href="404.html"><img class="producto" alt="AMD" src="{% static 'fotos/piezas/procesadores/amd/AMDRyzenThreadripper2990WX(300x300).png' %}" ></a>
                            <div class="card-body">
                                <p class="card-text">
                                <b>Marca:</b> AMD <br>
                                <b>Modelo:</b> Ryzen Thread Ripper 2990WX <br>
                                <b>Frecuencia:</b> 3000 - 4200 MHz <br>
                                <b>Socket:</b> TR4

                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                                    </div>
                                    <small class="text-muted ml-2">stock:<b>{{ stockRipper }}</b></small>
                                </div>
                            </div>
                        </div>
                    </div>


                    


                    <!--INTEL-->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" >
                            {% load static %}<a href="404.html"><img class="producto" alt="INTEL" src="{% static 'fotos/piezas/procesadores/intel/IntelCorei3-9100F(300x300).png' %}" ></a>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Marca:</b> Intel <br> 
                                    <b>Modelo:</b> Core i3-9100F <br>
                                    <b>Frecuencia:</b> 3600 - 4200 MHz <br>
                                    <b>Socket:</b> LGA 1151-v2
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                                    </div>
                                    <small class="text-muted ml-2">stock:<b>{{ stockI3 }}</b></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" >
                        <div class="card mb-4 shadow-sm" >
                            {% load static %}<a href="404.html"><img class="producto" alt="INTEL" src="{% static 'fotos/piezas/procesadores/intel/IntelCorei5-9400F(300x300).png' %}"></a>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Marca:</b> Intel <br>
                                    <b>Modelo:</b> Core i5-9400F <br>
                                    <b>Frecuencia:</b> 2900 - 4100 MHz <br>
                                    <b>Socket:</b> LGA 1151-v2
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                                    </div>
                                    <small class="text-muted ml-2">stock:<b>{{ stockI5 }}</b></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" >
                        <div class="card mb-4 shadow-sm" >
                            {% load static %}<a href="404.html"><img class="producto" alt="INTEL" src="{% static 'fotos/piezas/procesadores/intel/IntelCorei7-9700KF(300x300).png' %}"></a>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Marca:</b> Intel <br>
                                    <b>Modelo:</b> Core 7-9700K <br>
                                    <b>Frecuencia:</b> 3600 - 4900 MHz <br>
                                    <b>Socket:</b> LGA 1151-v2
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                                    </div>
                                    <small class="text-muted ml-2">stock:<b>{{ stockI7 }}</b></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</body>
{% endblock %}
